@import "tailwindcss";

@font-face {
  font-family: 'JapanRich';
  src: url('./../../public/font/NewYork.otf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(96, 130, 96, 0.694);
    flex-direction: column-reverse;
    /* background-image: url("../../public/img/videoLogo.mp4"); */

}
@keyframes clignoter {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  

  
.cligno{   
        animation: clignoter 1.6s infinite;   
}

.bgFloral{

}
h1{
    font-size: 2em;
    font-family: 'NewYork';
}